# ignore ALL files in ANY directory named temp
perso/
.venv/
code/v2/saved_pkl/temp
code/v3
notes/v3
slides/v3

# ignore ALL .* files
*.pkl
*.parquet
*.duckdb
*.ipynb_checkpoints
*.pyc
__pycache__
*.html

# ignore LaTeX files
*.aux
*.log
*.synctex.gz
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.nav
*.out
*.snm
*.toc
*.spl

# ignore MacOS File
.DS_Store

# ignore Other
.obsidian
requirements.txt