# ignore ALL files in ANY directory named temp
perso/
.venv/

# ignore ALL .* files
*.pkl
*.parquet
*.duckdb
*.ipynb_checkpoints
*.pyc
__pycache__
*.html

# ignore LaTeX files
*.aux
*.log
*.synctex.gz
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.nav
*.out
*.snm
*.toc

# ignore MacOS File
.DS_Store

# ignore Other
.obsidian
requirements.txt