# ignore ALL files in ANY directory named temp
code/src/__pycache__
perso

# ignore ALL .* files
*.pkl
*.parquet
*.duckdb
*.ipynb_checkpoints
*.pyc
__pycache__
*.html
.DS_Store
.obsidian
requirements.txt